*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height:100%;
}
.container{
    width: 100%;
    height: 100%;
    background-color: rgb(33, 45, 61);
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    width: 20%;
    height: 20%;
    background-color: aqua;
}
#counter{
    width: 20%;
    height: 50%;
    background-color: rgb(241, 238, 238);
    display: flex;
    align-items: center;
    justify-content:center;
}
.buttons{
    width: 100%;
    height: 60%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input h{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
button{
  width:15%; 
  height:50%;
  font-size: 30px;
  color: white;
}
.buttons input{
    width: 15%;
    height: 50%;
    text-align: center;
}
#dec{
    background-color: red;
    border: none;
}
#dec:hover{
    background-color: blue;
    cursor: pointer;
    color:rgb(10, 9, 9);
}
#inc{
    border:none;
    background-color: green;
}
#inc:hover{
    background-color: blue;
    color:rgb(6, 7, 6);
    cursor: pointer;
}